<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>至诚会计师事务所项目管理平台</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <script type="text/javascript" src="http://yanshi.sucaihuo.com/jquery/20/2048/demo/Transfer.js"></script>
    <link rel="stylesheet" type="text/css" href="http://yanshi.sucaihuo.com/jquery/20/2048/demo/style.css">
     <!-- jQuery 2.1.4 -->
   <script src="http://yanshi.sucaihuo.com/jquery/20/2048/demo/jquery.min.js"></script>
</head>

<body>
  <div id="root"></div>
   $(function () {
     $("#ued-transfer-1").transferItem();
   };
</body>

</html>
